{% extends "layout.html" %} {% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#"><strong>S</strong>upmarket</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#"
    aria-controls=""
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" />
      <button class="btn btn-primary my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>
<div>
  <h1>Hello, {{admin}} !</h1>
  {%for article in articles%}
  <div class="card" style="width: 20rem; display: inline-block;">
    {% if article.state != 'Disponible' %}
    <div class="card-header text-white bg-danger">
      {% elif article.category == 'Fruits' %}
      <div class="card-header text-white bg-warning">
        {% else %}
        <div class="card-header text-white bg-success">
          {% endif %}
          <a href="/articles/{{article.title}}">
            <h4 class="card-title text-black-50">{{article.title}}</h4>
          </a>
        </div>
        <div class="card-body">
          <p>{{article.category}}</p>
          <p class="card-text">{{article.price}}€/{{article.description}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
<style>
  .card {
    width: 100px;
    height: 100px;
    border: solid 1px #ccc;
    display: inline-block;
  }
</style>
